{% extends 'base.html.twig' %}

{% block title %}Art & Voyage{% endblock %}

{% block body %}
    <h1 class="text-center" style="color: green">Les voyages</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>NomVoyage</th>
                <th>DateDepart</th>
                <th>DateRetour</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for voyage in voyages %}
            <tr>
                <td>{{ voyage.id }}</td>
                <td>{{ voyage.NomVoyage }}</td>
                <td>{{ voyage.DateDepart ? voyage.DateDepart|date('Y-m-d') : '' }}</td>
                <td>{{ voyage.DateRetour ? voyage.DateRetour|date('Y-m-d') : '' }}</td>
                <td>{{ voyage.Description }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('app_voyage_show', {'id': voyage.id}) }}">voir</a>
                    <a class="btn btn-success" href="{{ path('app_voyage_edit', {'id': voyage.id}) }}">éditer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-secondary " href="{{ path('app_voyage_new') }}">Créer un nouveau voyage</a>
{% endblock %}
