{% extends 'base.html.twig' %}

{% block title %}Voyage index{% endblock %}

{% block body %}
    <h1>Voyage index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>NomVoyage</th>
                <th>DateDepart</th>
                <th>DateRetour</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for voyage in voyages %}
            <tr>
                <td>{{ voyage.id }}</td>
                <td>{{ voyage.NomVoyage }}</td>
                <td>{{ voyage.DateDepart ? voyage.DateDepart|date('Y-m-d') : '' }}</td>
                <td>{{ voyage.DateRetour ? voyage.DateRetour|date('Y-m-d') : '' }}</td>
                <td>{{ voyage.Description }}</td>
                <td>
                    <a href="{{ path('app_voyage_show', {'id': voyage.id}) }}">Voir</a>
                    <a href="{{ path('app_voyage_edit', {'id': voyage.id}) }}">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_voyage_new') }}">Create new</a>
{% endblock %}
